# !!! READ THIS BEFORE ADDING YOUR PATTERNS !!!
# See http://help.github.com/ignore-files/ for more about ignoring files.
# tl;dr; Mantain your own excludesfile with your patterns:
# `git config --global core.excludesfile ~/.my-gitignore`

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/package-lock.json # Should be updated manually!

# env
.env

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/storage

## CocoaPods
**/ios/Pods/


## Postgres volume data
data/

packages/mimir-e2e/artifacts
# IDE related files
/.idea
